body{
	margin: 0 auto;
	background-color: #eee;
}
a{
	text-decoration: none;
}
#header-wrapper{
	width: 100%;
	height: 145px;
	background:url("");
	margin: 0px auto;
	position: fixed;
	top: 0;
	z-index: 100;
}
#header-color{
	width: 100%;
	background-color: #1D1C1C; 
}
#top-header{
	width: 100%;
	max-width: 1024px;
	height: 70px;
	background-color: #1D1C1C;
	margin: -13px auto;
	padding-top: 37px;
}

#logo-size{
	width: 80px;
	height: 80px;
	border-radius: 22px;
	position: relative;
	bottom: 19px;
	float: left;
	
}
#search{
	float: left;
	width: 50%;
	/*background-color: white;*/
	

}
#search input{
	width: 230px;
	height: 30px;
	border-radius: 3px;
	margin-left: 4%;
}
#search #location{
	width: 130px;
	height: 30px;
	border-radius: 3px;
	margin-left: 5px;
}
#search button{
	height: 35px;
	width: 100px;
	border-radius: 3px;
	background-color: #49BEDA;
}
#user-menu{
	width: 24%;
	max-width: 280px;
	float: left;
	height: 30px;
	margin: 0 auto;
	margin-top: 3px;	
	/*background-color: white;*/
	padding-left: 10px;
	padding-top: 5px;
	font-size: 0.8em;
}
#user-menu span{
	font-size: 1.5em;
	color: white;
}
#menu-icon{
	display: none;
}
#user-menu a{
	color: white;
}
#nav-color{
	background-color: #555;
	width: 100%;
}
#cart-wrapper{
	width: 200px;
	height: 250px;
	background: #1E9D11;
	z-index: 999;
	position: fixed;
	left: 5%;
	top: 1%;
	opacity: 0;
}
#cart-wrapper:target{
	opacity: 1;
	pointer-events:auto;
}
#user-nav{
	display: none;
	float: left;
}
nav{
	width: 100%;
	background-color: #555;
	max-width: 1024px;
	margin: 0 auto;
}
nav ul li{
	display: inline-block;
	line-height: 45px;
	text-align: center;
	margin: 0 45px;
	color: white;


}
nav a{
	color: white;
	display: block;
}
nav a:hover{
	background-color: orange;
	padding:1px 70px;
	border-radius: 85px 2px;
	margin: 0;
	display: block;
	
}
nav li:hover{
	color: red;;

}
/*header ends here------------------------*/
#body-wrapper{
	width: 100%;
	max-width: 1024px;
	margin: 180px auto;

}


#img-slider{
	width: 100%;
	height: 450px;
	border:1px solid;
	position: relative;
}
#img{
	width: 100%;
	height: 450px;
	position: absolute;
}
#left-nav{
height: 400px;
width: 100px;
position: absolute;
left: 0px;
top: 0px;
}
#left-nav img{
	position: absolute;
	top: 45%;
	left: 1px;
}
#right-nav{
	height: 400px;
	width: 100px;
	position: absolute;
	right: 0px;
	top: 0px;
}
#right-nav img{
	position: absolute;
	top: 45%;
	right: 1px;
}
.sec-wrapper{
	width: 100%;
	height: 300px;
	border: 1px solid;
	background-color: white;
	margin: 11px 0;
}
.items{
	border:1px solid;
	float: left;
	width: 22%;
	margin: 1%;
	background-color: #eee;
}
.items img{
	width: 100%;
	height: 180px;
	background-size: cover;
}
.items h4, h3{
	text-align: justify;
	margin: 2px;
	padding: 2px;
}

/*footer starts here---------------------*/

footer{
	width: 100%;
	background-color: #222;
	margin: 5px auto;
	height: 210px;
}
footer a{
	text-decoration: none;
	color: white;
}
footer h3{
	color: #FFFFFF;
}
#sub-footer{
	width: 100%;
	max-width: 1024px;
	margin: 5px auto;
}
#company, #work, #more{
	display: block;
	width: 20%;
	padding: 2px;
	margin: 5px;
	/*height: 250px;*/
	float: left;
	background-color: transparent;

}
#company a, #work a, #more a{
	display: block;
	margin: 1px;
	padding: 1px;
	color: #949494;
}
#us a{
	display: inline-block;
}
#us{
	background-color: transparent;
	width: 10%;
	float: left;
}
#mobile-app{
	width: 19%;
	background-color: green;
	float: right;
	margin-top: 1%;
}
#mobile-app img{
	width: 50px;
	height: 75px;
	float: left;
	margin-top: 1px;
	margin-right: 3px;

}

#low-footer{
	background-color: #555;
	width: 100%;
	z-index: -100;
	position: relative;
}
#low-footer-wrapper{
	background-color: #555;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 3px;
	text-align: center;
	font-style: line-thorugh
}
@media screen and (max-width:478px){
body {
	position: absolute;
}
}
@media screen and (max-width: 1004px){
	#location{
		display: none;
	}
}
@media screen and (max-width: 885px){
	nav ul li{
		margin: 0 15px;
	}
	#user-menu{
		width: 33%;
		padding-left: 1px;
		margin: 1px;
	}
}
@media screen and (max-width: 740px){
	#search, #location, #user-menu{
		display: none;

	}
	 	header{
	 		position: relative;
	 	}
	 	#top-header{
	 		background-color: #061C31;
	 	}
	 	#menu-icon{
	 		display: inline-block;
	 		position: absolute;
	 		top: 15px;
	 		right: 5px;
	 		color: white;


	 	}
	 	#menu-icon:hover{
	 		background-color: transparent;
	 		
	 		padding: 2px 0;

	 	}

   	 nav ul li {
   	 	display: block;
   	 	width: 100%;
   	 	padding: 2px;
   	 	margin: 2px;
   	 	background: #269D0B;
   	 	border-radius: 8px;
   	 }
   	 nav ul li:hover {
   	 	d
   	 	background: pink;
   	 }
   	 nav span{
   	 	display: none;
   	 }
   	nav ul, nav:active ul{
   	 	display: none;
   	 	position: absolute;
   	 	padding: 0px;
   	 	background: #405580;
   	 	border: 1px solid #fff;
   	 	right: 10px;
   	 	top: 70px;
   	 	width: 50%;
   	 	border-radius: 2px 0 2px 2px;
   	 }
   	 
   	 nav:hover ul{
   	 	display: block; 

   	 }
   	 nav a:hover{
	background-color: orange;
	padding:12px 50px;
	border-radius: 9px;
	margin: 0;
	
}
	.items{
	border:1px solid;
	float: left;
	width: 97%;
	margin: 1%;
	background-color: #eee;
}
.items img{
	width: 100%;
	height: auto;
	background-size: cover;
	margin-top: 30px;
}
#low-footer-wrapper{
	float: left;
}
.sec-wrapper{
	width: 100%;
	height: auto;
	border: 1px solid;
	background-color: white;
	margin: 11px 0;
}
footer{
	float: left;
}


   	 
}





